.contact {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 215, 216);
}

li > a {
  font-size: 5em;
  text-decoration: none;
  color: black;
}

li > a:hover {
  color: rgb(216, 167, 167);
}