.landingLeft {
  background-color: #b6ecdf;
}

.landingRight {
  background-color: #f6f6f6d0;
}

.landingRight > .blurb > p {
  color: #63676c;
}

.blurb {
  width: 80%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-in-text 2s;
}

@keyframes slide-in-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}