.landingLeft {
  background-color: #e7e7e7;
}

.landingRight {
  background-color: #e9e7e7d0;
}

.landingRight > .blurb > p {
  color: #63676c;
}

.blurb {
  width: 80%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in-text 2s;
}
