.mainNav {
  background: #7aebd1;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerNav {
  max-width: 87%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name {
  color: rgb(48, 43, 43);
  text-decoration: none;
  font-size: 1.3em;
}

.navLink {
  color: rgb(48, 43, 43);
  margin-left: 25px;
  text-decoration: none;
}

#name:hover,
.navLink:hover {
  color: rgb(100, 96, 167);
  text-decoration: underline;
}

.navLink:active {
  color: burlywood;
}
