.biobody {
  max-width: 75%;
  animation: fade-in-text 2s;
}

.title {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  font-size: 1.0em;
}

.technologiesHeader {
  font-size: 1.0em;
}

.technologiesList {
  font-size: 1.0em;
}

.projectLinks {
  display: flex;
}

.websiteButton {
	padding: 6px 16px;
	border-radius: 4px;
	font-style: normal;
  font-size: 16px;
  height: 28px;
  width: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.externalLink {
  background: #59517d;
	color: white;
}

.githubLink {
  background: #1f1d26;
	color: white;
}

a + a {
  padding-left: 20px;
}

.projectLinks > a {
  text-decoration: none;
}

.projectLinks > a:visited{
  color: white;
}