@media screen and (max-width:1200px) {
  /* Nav */
  #name {
    font-size: 1.0em;
    text-align: left;
  }

  /* Landing */
  .blurb p {
    margin: 0;
    font-size: 2.0em;
  }


  /* Project Bio */
  .SplitParent {
    flex-direction: column;
  }
  
  .split {
    width: 100%;
  }

  .splitImg {
    min-height: 225px;
  }

  .biobody {
    margin: 30px 0 30px 0;
    max-width: 85%;
  }

  .projectLinks {
    flex-direction: column;
  }

  .projectLinks a + a {
    margin-left: 0;
    padding-top: 15px;
  }

  .title {
    font-size: 1.5em;
  }

  .blurb {
    height: calc(50vh - 25px)
  }

  /* Contact */
  .contact {
    align-items: stretch;
    padding-top: 70px;
  }

  form {
    width: 90%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    display: block;
    margin: 0;
    padding-left: 10;
    box-sizing: border-box;
  }

  label {
    padding-bottom: 10px;
  }

  .submit-modal {
    height: 366px;
  }
}